Repository owncloud/files_antivirus, pull requests merged in 2019-01, with the labels that each got.

#286 Add new core PublicWebDavContext
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/AntivirusContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#287 Change invokingTheCommand to runOcc
  tests/acceptance/features/bootstrap/AntivirusContext.php
Labels: 3 - To review, QA-team, dev:acceptance-tests

#289 Add php_codesniffer to check acceptance test code style
  Makefile
  phpcs.xml
  vendor-bin/php_codesniffer/composer.json
Labels: 3 - To review, QA-team, dev:acceptance-tests

#288 Do not scan files if etag hasn't changed
  appinfo/Migrations/Version20180116141548.php
  appinfo/Migrations/Version20180116142011.php
  lib/AppInfo/Application.php
  lib/BackgroundScanner.php
  lib/Cron/Task.php
  lib/Db/FileCollection.php
  lib/Item.php
  tests/unit/BackgroundScannerTest.php
  tests/unit/Cron/TaskTest.php
Labels: 3 - To review, blue-ticket

#290 Install and run behat from vendor-bin
  Makefile
  tests/acceptance/config/behat.yml
  vendor-bin/behat/composer.json
Labels: 3 - To review, QA-team, dev:acceptance-tests
