Repository owncloud/files_antivirus, pull requests merged in 2019-10, with the labels that each got.

#330 Update drone starlark with latest code 20191011
  .drone.starlark
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#331 Test against core 10.3.0
  .drone.starlark
  .drone.yml
Labels: 3 - To review, QA-team, dev:acceptance-tests

#332 drone notify on failure
  .drone.starlark
  .drone.yml
  vendor-bin/php_codesniffer/composer.json
Labels: 3 - To review, Drone, QA-team

#333 No need to test against 10.3.0 any more
  .drone.starlark
  .drone.yml
Labels: 3 - To review, Drone, QA-team

#335 Fix failing tests for public webDAV API step
  tests/acceptance/features/apiAntivirus/antivirusFileSize.feature
  tests/acceptance/features/apiAntivirus/antivirusMain.feature
  tests/acceptance/features/bootstrap/AntivirusContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests
