Repository owncloud/files_antivirus, pull requests merged in 2019-02, with the labels that each got.

#293 Add COMPOSER_BIN check to Makefile
  Makefile
Labels: 4 - To release, QA-team

#294 Remove duplicate and old composer_deps and composer_dev_deps
  Makefile
Labels: 4 - To release, QA-team

#296 Add extra expected log file exception message for antivirusFileSize.feature:45
  tests/acceptance/features/apiAntivirus/antivirusFileSize.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#297 test antivirus with activity app
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/bootstrap.php
  tests/acceptance/features/webUIActivityList/activityList.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests
