Repository owncloud/files_antivirus, pull requests merged in 2020-02, with the labels that each got.

#354 Update starlark code 20200208
  .drone.star
  .drone.yml
  tests/acceptance/features/webUIActivityList/activityList.feature
Labels: 4 - To release, Drone, QA-team

#358 Add AppConfigurationContext to apiAntivirus contexts
  tests/acceptance/config/behat.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests

#360 [Tests-only] Run core tests with files_antivirus enabled
  .drone.star
  Makefile
Labels: 4 - To release, QA-team, dev:acceptance-tests

#361 [Tests-only] guzzle version updated
  vendor-bin/behat/composer.json
Labels: 3 - To review, QA-team
